$lightGray : #f3f3f3;

//darkTheme
$darkBgColor: #202020;
$darkTextColor: #c1c6d0;
$darkScrolldarkBgColor: #131313;

// lightTheme
$lightTextColor: #202020;
$lightScrolllightBgColor: #fff;
$lightBgColor: #fff;